In [1]:
import pandas as pd
import numpy as np
import math

In [62]:
def fibonacci_sphere(samples=100):

    points = []
    phi = math.pi * (3. - math.sqrt(5.))  # golden angle in radians

    for i in range(samples):
        y = 1 - (i / float(samples - 1)) * 2  # y goes from 1 to -1
        radius = math.sqrt(1 - y * y)  # radius at y

        theta = phi * i  # golden angle increment

        x = math.cos(theta) * radius
        z = math.sin(theta) * radius

        points.append((x, y, z))

    return points

sph = fibonacci_sphere(samples=100)

In [63]:
#Read all the data files
# Distance = 0.0 mm
d00 = pd.read_csv('d0.csv')
d00 = d00.rename(columns={"x": "Time", "Curve1": "Temperature"}, errors="raise")

# Distance = 0.5 mm
d05 = pd.read_csv('d05.csv')
d05 = d05.rename(columns={"x": "Time", "Temp": "Temperature"}, errors="raise")

# Distance = 1.0 mm
d10 = pd.read_csv('d1.csv')
d10 = d10.rename(columns={"x": "Time", "Curve1": "Temperature"}, errors="raise")

# Distance = 1.5 mm
d15 = pd.read_csv('d15.csv')
d15 = d15.rename(columns={"x": "Time", "Curve1": "Temperature"}, errors="raise")

In [64]:
# Choose time times to make interpolation
time=np.array([0, 150, 500, 1000, 1500, 2000, 2500, 3000, 3500, 4000])
null=np.array([0, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan])

# Make dataframe to each dataframe for data interpolation
d = {'Time': time, 'Temperature': null}
dfAdd = pd.DataFrame(data=d)

In [65]:
# Add dfAdd to the original dataframe
df00 = pd.concat([d00, dfAdd]).sort_values(by=['Time'])

# Interpolate
df00 = df00.interpolate()

# Choose only the rows that is in time
df00 = df00[df00['Time'].isin(time)]

# Add the x, y, z coordinates
df00['x'] = 0.0
df00['y'] = 0.0
df00['z'] = 0.0

df00 = df00[['x','y','z','Time','Temperature']]

df00

     x    y    z    Time  Temperature
0  0.0  0.0  0.0     0.0         0.00
1  0.0  0.0  0.0   150.0     55587.55
2  0.0  0.0  0.0   500.0     29469.95
3  0.0  0.0  0.0  1000.0     29886.60
4  0.0  0.0  0.0  1500.0     31183.90
5  0.0  0.0  0.0  2000.0     31350.95
6  0.0  0.0  0.0  2500.0     31199.05
7  0.0  0.0  0.0  3000.0     32119.60
8  0.0  0.0  0.0  3500.0     29207.20
9  0.0  0.0  0.0  4000.0     29207.20

In [66]:
# Add dfAdd to the original dataframe
df05 = pd.concat([d05, dfAdd]).sort_values(by=['Time'])

# Interpolate
df05 = df05.interpolate()

# Choose only the rows that is in time
df05 = df05[df05['Time'].isin(time)]

# Add the x, y, z coordinates
#df05['x'] = 0.5*1000
#df05['y'] = 0.0
#df05['z'] = 0.0

# Append these time and temperature as tuple
time_temp = []
for i, row in enumerate(df05['Time']):
    time_temp.append((df05['Time'][i],df05['Temperature'][i]))

# Create a array of x, y, z, time and temperature data 
x = []
y = []
z = []
time = []
temp = []

for coordinates in sph:
    for val in time_temp:
        x.append(coordinates[0]*500) # Multiply by 500 as the coordinate is for a unit circle
        y.append(coordinates[1]*500)
        z.append(coordinates[2]*500)
        time.append(val[0])
        temp.append(val[1])

# Put these arrays together to get the final dataframe
final_df05 = pd.DataFrame(
    {'x': x,
     'y': y,
     'z': z,
     'Time': time,
     'Temperature': temp
    })

In [67]:
# Add dfAdd to the original dataframe
df10 = pd.concat([d10, dfAdd]).sort_values(by=['Time'])

# Interpolate
df10 = df10.interpolate()

# Choose only the rows that is in time
df10 = df10[df10['Time'].isin(time)]

# Append these time and temperature as tuple
time_temp = []
for i, row in enumerate(df10['Time']):
    time_temp.append((df10['Time'][i],df10['Temperature'][i]))

# Create a array of x, y, z, time and temperature data 
x = []
y = []
z = []
time = []
temp = []

for coordinates in sph:
    for val in time_temp:
        x.append(coordinates[0]*1000)
        y.append(coordinates[1]*1000)
        z.append(coordinates[2]*1000)
        time.append(val[0])
        temp.append(val[1])

# Put these arrays together to get the final dataframe
final_df10 = pd.DataFrame(
    {'x': x,
     'y': y,
     'z': z,
     'Time': time,
     'Temperature': temp
    })

In [68]:
# Add dfAdd to the original dataframe
df15 = pd.concat([d15, dfAdd]).sort_values(by=['Time'])

# Interpolate
df15 = df15.interpolate()

# Choose only the rows that is in time
df15 = df15[df15['Time'].isin(time)]

# Append these time and temperature as tuple
time_temp = []
for i, row in enumerate(df15['Time']):
    time_temp.append((df15['Time'][i],df15['Temperature'][i]))

# Create a array of x, y, z, time and temperature data 
x = []
y = []
z = []
time = []
temp = []

for coordinates in sph:
    for val in time_temp:
        x.append(coordinates[0]*1500)
        y.append(coordinates[1]*1500)
        z.append(coordinates[2]*1500)
        time.append(val[0])
        temp.append(val[1])

# Put these arrays together to get the final dataframe
final_df15 = pd.DataFrame(
    {'x': x,
     'y': y,
     'z': z,
     'Time': time,
     'Temperature': temp
    })

In [69]:
# Combine all the dataframes and reorder the coulmns
df_final = pd.concat([df00, final_df05, final_df10, final_df15])
#df_final = df_final[['x','y','z','Time','Temperature']]
df_final

       x       y    z    Time  Temperature
0    0.0     0.0  0.0     0.0         0.00
1    0.0     0.0  0.0   150.0     55587.55
2    0.0     0.0  0.0   500.0     29469.95
3    0.0     0.0  0.0  1000.0     29886.60
4    0.0     0.0  0.0  1500.0     31183.90
..   ...     ...  ...     ...          ...
995  0.0 -1500.0 -0.0  2000.0     20265.10
996  0.0 -1500.0 -0.0  2500.0     17317.75
997  0.0 -1500.0 -0.0  3000.0     15419.65
998  0.0 -1500.0 -0.0  3500.0     14630.00
999  0.0 -1500.0 -0.0  4000.0     12425.10

[3010 rows x 5 columns]

In [70]:
df_final.to_csv('PlasmaTemp.csv')

#### To create points in a sphere
from numpy import random
phi = random(0,2*np.pi)
costheta = random(-1,1)
u = random(0,1)

theta = arccos( costheta )
r = R * cuberoot( u )

x = r * sin( theta) * cos( phi )
y = r * sin( theta) * sin( phi )
z = r * cos( theta )